<!DOCTYPE html>
<html>
	<head>
		<title>QR-DETECTOR-Server Error</title>
		<meta charset="utf-8">
		<style type="text/css">
			body {background-image: url(./img/body-bg.png);padding-left:30px;} 
			a:hover{color: #223bc5; }
			a{ color: #0a0a0a; text-decoration: none;font-weight:bold}			 
		</style>
	</head>
	<body>
	
		<div>
			<a href="./" target="_blank">扫码</a>
			<a href="./linechart" target="_blank">效率曲线</a>
			<a href="">使用说明</a>
			<hr />
		</div>






		<h1>Internal Server Error</h1>


		<br />
		<br />
		<br />
		<p>支持 Chrome浏览器、Firefox浏览器、IE10及以上版本等，IE9及以下不支持</p>
		<hr />

		
	

	
		
		
	</body>
</html>