<!DOCTYPE html>
<html>
	<head>
		<title>QR-DETECTOR</title>
		<meta charset="utf-8">
		<style type="text/css">
			body {background-image: url(./img/body-bg.png);padding-left:30px;} 

			table {width: 90%;border-collapse:collapse;border-spacing:0;border-left:1px solid #888;border-top:1px solid #888;background:#efefef;}  

			th, td {border-right:1px solid #888;border-bottom:1px solid #888;padding:5px 15px;}  
			th {font-weight:bold;background:#d4d4d4;} 
			a:hover{color: #223bc5; }
			a{ color: #0a0a0a; text-decoration: none;font-weight:bold}

		</style>
	</head>

	<body>
	
		<div >
			<a href="">扫码</a>
			<a href="/linechart" target="_blank">效率曲线</a>
			<a href="/readme" target="_blank">使用说明</a>
			<br/>
			<hr />
		</div>






		<p>日期：{{date}} &nbsp;&nbsp;&nbsp;&nbsp;生产线：{{line}} &nbsp;&nbsp;&nbsp;&nbsp;班次：{{shift}}</p>
		<!--<p>开始扫码          停止扫码           退出系统</p> -->
		<hr />
		
		<p>当前条码 : {{bar}}&nbsp;&nbsp;&nbsp;&nbsp;状态：{{status}}</p>
		<p>批次：{{batchnum}}</p>
		<p>工厂型号：{{fac_model}} &nbsp;&nbsp;&nbsp;&nbsp;  颜色：{{color}} </p>
		<hr />
	
		<p>时间：{{time_now}}&nbsp;&nbsp;&nbsp;&nbsp;总产量：{{total}}</p>
		<hr />
		<div >
			<table border="1">
				<tr>
					<th>采集数据</th>
				</tr>
			</table>
		</div>

		<div>
			<table border="1">
				<tr>
					<th>序号</th>
					<th>工厂型号</th>
					<th>颜色</th>
					<th>批次</th>
					<th>计划量</th>
					<th>完成数</th>
					<th>超欠数</th>	
					<th>采集数</th>	
				</tr>
				<tr>
					<td>1</td>
					<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
				</tr>
				<tr>
					<td>2</td>
					<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
				</tr>
				<tr>
					<td>3</td>
					<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
				</tr>
		
			</table>
		<div/>
	
		
		
	</body>
</html>