<!DOCTYPE html>
<html>
	<head>
		<title>QR-DETECTOR</title>
		<meta charset="utf-8">
		<style type="text/css">
			body {background-image: url(./img/body-bg.png);padding-left:30px;}  
			a:hover{color: #223bc5; }
			a{ color: #0a0a0a; text-decoration: none;font-weight:bold}
		</style>
	</head>
	<body>
	
		<div>
			<a href="./" target="_blank">扫码</a>
			<a href="">效率曲线</a>
			<a href="./readme" target="_blank">使用说明</a>
			<hr />
		</div>






		<h2>效率曲线</h2>
		
		<p>时段产</p>
		<hr />
		
		<p>效率折线图</p>
		<hr />
	

	
		
		
	</body>
</html>