<!DOCTYPE html>
<html>
	<head>
		<title>QR-DETECTOR</title>
		<meta charset="utf-8">
		<style type="text/css">
			body {background-image: url(./img/body-bg.png);padding-left:30px;}  
		</style>
	</head>
	<body>
	
		<div>
			<a href="./" target="_blank">扫码</a>
			<a href="./linechart" target="_blank">效率曲线</a>
			<a href="">使用说明</a>
			<hr />
		</div>






		<h2>使用说明</h2>
		<p>技术：Python3 flask  websocket MySQL</p>
		<p>实现简单的扫码记录系统，实时刷新数据</p>
		<hr />
		
		<p>支持 Chrome浏览器、Firefox浏览器、IE10及以上版本等，IE9及以下不支持</p>
		<hr />

		<hr />
	

	
		
		
	</body>
</html>